[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multiDEGGs"]
	path = multiDEGGs
	url = https://github.com/elisabettasciacca/multideggs
